{{>layouts/header}}
<form action="/hospitals" method="get">
    <input type="text" name="keyword">
    <input type="submit">
</form>
<table class = "table table-stripted">
    <thread>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Hospital Name</th>
            <th scope="col">Address</th>
        </tr>
    </thread>
    <tbody class="table-group-divider">
    {{#hospitals}}
        <tr>
            <th>{{id}}</th>
            <th><a href="/hospitals/{{id}}">{{hospitalName}}</a></th>
            <th>{{roadNameAddress}}</th>
        </tr>
    {{/hospitals}}
    </tbody>
</table>

<ul class="pagination justify-Content-center">
    {{#keyword}}
        <a class="page-item"><a class="page-link" href="?keyword={{keyword}}&page={{previous}}">Previous</a></li>
        <li class="page-item"><a class="page-link" href="?keyword={{keyword}}&page={{next}}">Next</a></li>
    {{/keyword}}
    {{^keyword}}
        <a class="page-item"><a class="page-link" href="?page={{previous}}">Previous</a></li>
        <li class="page-item"><a class="page-link" href="?page={{next}}">Next</a></li>
    {{/keyword}}
</ul>
{{>layouts/footer}}