{{>layouts/header}}
<table class = "table table-stripted">
    <thread>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Hospital Name</th>
            <th scope="col">Address</th>
        </tr>
    </thread>
    <tbody class="table-group-divider">
    {{#hospitals}}
        <tr>
            <th>{{id}}</th>
            <th><a href="/articles/{{id}}">{{hospitalName}}</a></th>
            <th>{{roadNameAddress}}</th>
        </tr>
    {{/hospitals}}
    </tbody>
</table>
<ul class="pagination justify-content-center">
    <a class="page-item"><a class="page-link" href="?page={{previous}}">Previous</a></li>
    <a class="page-item"><a class="page-link" href="?page={{next}}"/>Next</a></li>
</ul>
{{>layouts/footer}}