{{>layouts/header}}
<table class = "table table-stripted">
    <thread>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Content</th>
        </tr>
    </thread>
    <tbody class="table-group-divider">
    {{#articles}}
        <tr>
            <th>{{id}}</th>
            <th><a href="/articles/{{id}}">{{title}}</a></th>
            <th>{{content}}</th>
        </tr>
    {{/articles}}
    </tbody>
</table>
<a href="/articles/new" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">Add</a>

{{>layouts/footer}}